# Ignore node_modules
node_modules/

# Ignore build files
.next/
dist/
out/

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local

# macOS system files
.DS_Store